@import '../../../App.css';

.logo {
  cursor: pointer;
  height: 60px;
  width: 60px;
  background-color: var(--color-lightgray);
  border-radius: 10px;
}

.logo:hover {
  background-color: var(--color-darkgray);
  border-radius: 10px;
}
