.searchTable {
  background-color: lightgray;
  padding: 1rem;
  position: relative;
}

.searchBar {
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
  width: 100%;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.clean {
  border-radius: 15px;
  border: none;
  width: 80px;
  background-color: darkblue;
  color: azure;
  position: absolute;
  top: 24px;
  right: 30px;
  cursor: pointer;
}

.table > tr > th {
  text-align: left;
}

.table > tr {
  line-height: 1.5rem;
}

.table > tr > td {
  font-size: 15px;
  color: white;
}

.client {
  cursor: pointer;
}

.clicked {
  background-color: blue;
}

.headers,
.clientRow {
  display: flex;
  text-align: left;
  line-height: 1rem;
  padding: 0.2rem 1rem;
  margin-bottom: 0.2rem;
}

.header,
.client {
  flex-basis: 11%;
}

.headers {
  font-weight: bold;
}

.table {
  width: 95%;
  margin: 0 auto;
}

.clientRow:hover {
  display: flex;
  text-align: left;
  line-height: 1rem;
  background-color: rgb(0, 0, 100);
  border-radius: 13px;
  color: snow;
  padding: 0.2rem 1rem;
  margin-bottom: 0.2rem;
}
