@import '../../../App.css';

.searchTable {
  background-color: var(--color-lightgray);
  padding: 1rem;
  position: relative;
}

.searchBar {
  border-radius: 27px;
  border: none;
  padding: 0.7rem 0.5rem 0.7rem 3rem;
  width: 100%;
  line-height: 1.4rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

::placeholder {
  color: rgb(219, 219, 219);
}

.searchIcon {
  position: absolute;
  top: 25px;
  left: 30px;
}

.clean {
  border-radius: 15px;
  border: none;
  background-color: darkblue;
  color: var(--color-lightgray);
  position: absolute;
  top: 26px;
  right: 30px;
  cursor: pointer;
  padding: 5px 15px;
}

.table > tr > th {
  text-align: left;
}

.table > tr {
  line-height: 1.5rem;
}

.table > tr > td {
  font-size: 15px;
  color: var(--color-white);
}

.client {
  cursor: pointer;
}

.clicked {
  background-color: var(--color-darkblue);
}

.headers,
.clientRow {
  display: flex;
  text-align: left;
  line-height: 1rem;
  padding: 0.2rem 1rem;
  margin-bottom: 0.2rem;
}

.header,
.client {
  flex-basis: 11%;
}

.headers {
  font-weight: bold;
}

.table {
  width: 95%;
  margin: 0 auto;
}

.clientRow:hover {
  display: flex;
  text-align: left;
  line-height: 1rem;
  background-color: var(--color-darkblue);
  border-radius: 13px;
  color: var(--color-white);
  padding: 0.2rem 1rem;
  margin-bottom: 0.2rem;
}

.clean > img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
