* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 2%;
}

main {
  flex-basis: 100%;
}

.asideFlex {
  display: flex;
}

/* variables */

:root {
  --color-darkblue: rgb(15, 3, 83);
  --color-lightgray: rgb(243, 243, 243);
  --color-darkgray: rgb(218, 218, 218);
  --color-white: rgb(245, 245, 245);
}
