@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-darkblue);
}

.container {
  margin: 0 2%;
}

main {
  flex-basis: 100%;
}

.asideFlex {
  display: flex;
}

.scrollhost {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

/* variables */

:root {
  --color-darkblue: rgb(15, 3, 83);
  --color-lightgray: rgb(243, 243, 243);
  --color-darkgray: rgb(218, 218, 218);
  --color-white: rgb(255, 255, 255);
}
